## Creando una Base de datos usando SQLite

In [1]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('INSTRUCTOR.db')

Un cursor es un objeto que permite recorrer y manipular los resultados de una consulta SQL de manera programática. Los cursores son especialmente útiles cuando se realizan consultas que devuelven múltiples filas de datos, ya que permiten acceder a estas filas una a una, procesarlas y realizar operaciones en ellas.

In [ ]:
cursor_obj = conn.cursor()

## Creando un tabla en la base de datos

In [ ]:
# verifica que la conexion con la base de datos sea exitosa e imprime un mensaje, adicional crea un cursor

cur=None

try:
    conn = sqlite3.connect('INSTRUCTOR.db')
    
    cur=conn.cursor()

    ##--

    cur.execute("DROP TABLE IF EXISTS public.wine_rating")

    cur.execute("""
                CREATE TABLE IF NOT EXISTS instructor (
                    ID INTEGER PRIMARY KEY NOT NULL,
                    FNAME VARCHAR(20) NOT NULL,
                    LNAME VARCHAR(20) NOT NULL,
                    CITY VARCHAR(20) NOT NULL,
                    CCODE CHAR(2) NOT NULL
                )
                """)

    conn.commit()
    ##--
except sqlite3.Error as e:
    print("Error al conectar a la base de datos:", e)
finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

## Cargar Datos en la tabla

In [ ]:
# verifica que la conexion con la base de datos sea exitosa e imprime un mensaje, adicional crea un cursor

cur=None

try:
    conn = sqlite3.connect('INSTRUCTOR.db')
    
    cur=conn.cursor()

    ##--

    cur.execute('''
                INSERT INTO instructor VALUES 
                (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
                (2, 'Raul', 'Chong', 'Markham', 'CA'),
                (3, 'Hima', 'Vasudevan', 'Chicago', 'US')
                ''')

    conn.commit()
    ##--
except sqlite3.Error as e:
    print("Error al conectar a la base de datos:", e)
finally:
    if cur is not None:
        cur.close()
    if conn is not None:
        conn.close()

In [2]:
conn = sqlite3.connect("INSTRUCTOR.db")
query = "SELECT * FROM instructor"
df = pd.read_sql_query(query, conn)

conn.close()

In [3]:
df

   ID FNAME  LNAME     CITY CCODE
0   1   Rav  Ahuja  TORONTO    CA